
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";



/*
div{
	border:solid #000066 0.5px;
	
}*/

body {
	background-color: #b3ffb3;
}

.bigger1 {

            width: 60px;

}



.table-striped > tbody > tr:nth-of-type(odd) {
  color: #000000;
  
}

.table-time > tbody > tr:nth-of-type(even)  {

  background-color: #000066;
}

 .panel-heading {
      color: #000 !important;
      background-color: #80ffe1 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }

  .panel-body {
      color: #fff !important;
      background-color: #e6fff9 !important;
      }

   .bg-green {
      background-color: #33cc33;
      color: #fff;
  }

  .cr-bk {
  color:#000;
  }

  .form-group input {
  color:#000;
  }

 