
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";



/*
div{
	bor/der:solid #000066 0.5px;
	
}*/

body {
	background-color: #33cc33;
}

.bigger1 {

            width: 60px;

}



.table-striped > tbody > tr:nth-of-type(odd) {
  color: #000000;
  
}

.table-time > tbody > tr:nth-of-type(even)  {

  background-color: #000066;
}
