 body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-color: #33cc33;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }

  .bg-green {
      background-color: #336600;
  }

  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 250px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #f4511e; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #33cc33 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #33cc33;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #33cc33;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  .navbar-brand {

  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }



  #cookie-law-info-bar {
  border: 0;
  font-size: 10pt;
  margin: 0 auto;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
#cookie-law-info-again {
  font-size: 10pt;
  margin: 0;
  padding: 2px 10px;
  text-align: center;
  z-index: 9999;
  cursor: pointer;
}
#cookie-law-info-bar span {
  vertical-align: middle;
}
/** Buttons (http://papermashup.com/demos/css-buttons) */
.cli-plugin-button, .cli-plugin-button:visited {
  background: #222 ; 
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  margin: auto 10px;
}
.cli-plugin-button:hover {
  background-color: #111;
  color: #fff;
}
.cli-plugin-button:active {
  top: 1px;
}
.small.cli-plugin-button, .small.cli-plugin-button:visited {
  font-size: 11px;
}
.cli-plugin-button, .cli-plugin-button:visited,
  .medium.cli-plugin-button, .medium.cli-plugin-button:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}


.large.cli-plugin-button, .large.cli-plugin-button:visited {
  font-size: 14px;
  padding: 8px 14px 9px;
}
.super.cli-plugin-button, .super.cli-plugin-button:visited {
  font-size: 34px;
  padding: 8px 14px 9px;
}
.pink.cli-plugin-button, .magenta.cli-plugin-button:visited {
  background-color: #e22092;
}
.pink.cli-plugin-button:hover {
  background-color: #c81e82;
}
.green.cli-plugin-button, .green.cli-plugin-button:visited {
  background-color: #91bd09;
}
.green.cli-plugin-button:hover {
  background-color: #749a02;
}
.red.cli-plugin-button, .red.cli-plugin-button:visited {
  background-color: #e62727;
}
.red.cli-plugin-button:hover {
  background-color: #cf2525;
}
.orange.cli-plugin-button, .orange.cli-plugin-button:visited {
  background-color: #ff5c00;
}
.orange.cli-plugin-button:hover {
  background-color: #d45500;
}
.blue.cli-plugin-button, .blue.cli-plugin-button:visited {
  background-color: #2981e4;
}
.blue.cli-plugin-button:hover {
  background-color: #2575cf;
}
.yellow.cli-plugin-button, .yellow.cli-plugin-button:visited {
  background-color: #ffb515;
}
.yellow.cli-plugin-button:hover {
  background-color: #fc9200; 
}

.bac {

  background-color: #00ff00;
  color: #fff;
}

.bac1 {

  background-color: #3333ff;
  color: #fff;
}

 

  
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

   @media screen and (max-width: 1200px) {

    .navbar-nav  {
    width:75%;
    font-size:9px;
    }

   }


  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    .srink {
    width:850px;
    }   

    .nav navbar-nav navbar-right {
    width:75%;
    font-size:9px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }